<!DOCTYPE html>
<html lang="en">

    <!-- Thanks to Adam Bray (adam-bray.com) for the awesome navigation menu tut! -->

  <header>
    {% block header %}

    <div id="logo" class="menuBarTop">
      <h1>DashServCMD</h1>
      <div id="navToggle"><a href="#">Menu</a></div>
    </div>

    <nav>
      <ul>
        <li><a href="#">Dashboard</a>
        <li><a href="#">Applications</a>

          <nav>
            <ul>
              <li><a href="#">New</a>
              <li><a href="#">Manage</a>
            </ul>
          </nav>

        <li><a href="#">Settings</a>
      </ul>






    </nav>


      {% endblock header %}
    </header>



    <body>




    </body>



</html>



</html>
