<!DOCTYPE html>
<html lang="en">

  <head>
    <title>DashServCmd v0.1.0 - {% block page_title %}Dashboard{% endblock page_title %} </title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/uikit.gradient.css') }}" />
    <script src="{{ url_for('static', filename='js/uikit.min.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery.js') }}"></script>
  </head>

  <body>

    <nav id='top-bar' class="uk-navbar" data-uk-sticky>
      <a href="" class="uk-navbar-brand">DashServ</a>
      <div class="uk-navbar-content uk-margin-small">
        <ul class="uk-navbar-nav">
            <li class="uk-active">
              <a href="/">Dash</a>
            </li>

            <li>
              <a href="/app">Applications</a>
            </li>

            <li>
              <a href="/settings">Settings</a>
            </li>
          </ul>
      </div>

          <div class="uk-navbar-content uk-margin-right">
            <form class="uk-form uk-search uk-display-inline-block" data-uk-search>
              <input class="uk-searchfield" type="search" placeholder="">
              <button class="uk-button uk-button-primary">Search</button>
            </form>
          </div>
      </nav>



    {% block content %}
      Overview of servers, applications and etc go here.
    {% endblock content %}



  </body>


  <footer>


      <div class="uk-block-primary uk-margin-bottom uk-margin-top uk-position-bottom uk-text-center" >
        &copy; Copyright 2016; GNU Affero Public License. DashServCmd on Github.
      </div>

  </footer>



</html>
